#!/bin/bash

# Github aliases
ghpr() {
  git push -u origin HEAD
  export GHPR_DESCRIPTION=${1:-""}
  export GHPR_BRANCH=$(git branch --show-current)
  envsubst < $HOME/.config/github-pr-template.md > $HOME/.config/github-pr-template.md.tmp
  gh pr create --fill --draft --body-file=$HOME/.config/github-pr-template.md.tmp --head=$(git rev-parse --abbrev-ref HEAD)
}

# Jira aliases
alias jme="jira issue list -a=$(jira me) -q=\"project IS NOT EMPTY AND status not in (Done, Declined, Closed, Published, 'Won\'t do')\""
alias jc="jira issue create -t=Story -T=$HOME/.config/jira-ticket-ee-template.tpl --no-input"
alias jpes="jc --project=PES"
alias jcfoo="jc --label='FOO'"
alias jcbar="jc --label='BAR'"
alias jcm="jcfoo --custom ee-scope='Monolith'"
alias jcs="jcbar --custom ee-scope='Multi-Services'"
alias jcia="jc --project=BWA"

jsearch() {
  args="$@"
  jira issue list -q "project = "EN" and summary ~ \"${args}\""
}

# Others
{{ range .aliases -}}
alias {{ .name | quote }}={{ .command | quote }}
{{ end -}}
