[user]
	email = julien.tanay@gmail.com
	name = Julien Tanay
[core]
	editor = code --wait
[push]
	default = simple

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
