#!/bin/bash

# Install Oh My ZSH
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" || true

# Install OMZ plugins
cd $ZSH/custom/plugins

{{ range .zsh.sources -}}
git clone {{ . }} || true
{{ end -}}
