#!/bin/bash

# catppuccin/k9s skins - https://github.com/catppuccin/k9s
# K9S_CONFIG_DIR is set to $HOME/.config/k9s via shell init
mkdir -p "$HOME/.config/k9s/skins"
curl -fsSL https://github.com/catppuccin/k9s/archive/main.tar.gz | tar xz -C "$HOME/.config/k9s/skins" --strip-components=2 k9s-main/dist
