{{ if ne .chezmoi.arch "arm64" -}}
#!/bin/bash

{{- /* Initializes the name variable with a default value */ -}}
# Install Homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}