#!/bin/bash

# catppuccin/konsole theme - https://github.com/catppuccin/konsole
mkdir -p "$HOME/.local/share/konsole"
echo "Downloading catppuccin konsole theme..."
curl -fsSL https://raw.githubusercontent.com/catppuccin/konsole/main/themes/catppuccin-latte.colorscheme -o "$HOME/.local/share/konsole/catppuccin-latte.colorscheme"
echo "catppuccin konsole theme installed successfully"
