#!/bin/bash

{{ range .packages.common.binaries -}}
if ! command -v {{ .name }} &> /dev/null; then
    echo "Installing: {{ .name }}"
    {{ .command }}
fi
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
sudo mkdir -p -m 755 /etc/apt/keyrings

{{ range .packages.linux.aptSources -}}
{{ . }}
{{ end -}}

sudo apt update
sudo apt install -y {{ .packages.linux.apt | join " " }}

 # Install snaps
 {{ range .packages.linux.snaps -}}
 if ! command -v {{ .name }} &> /dev/null; then
     echo "Installing snap: {{ .name }}"
     {{ .command }}
 fi
 {{ end -}}
{{ end -}}

# Homebrew

export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_INSTALL_CLEANUP=1
export HOMEBREW_NO_AUTO_UPDATE=1

{{ if eq .chezmoi.os "linux" -}}
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" -}}
    eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

{{ if ne .chezmoi.arch "arm64" -}}
brew bundle \
    --no-upgrade \
    --quiet \
    --file=/dev/stdin <<EOF
{{ range .packages.common.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.common.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew bundle \
    --no-upgrade \
    --quiet \
    --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# post-install for docker-compose
mkdir -p ~/.docker/cli-plugins
ln -sfn $(brew --prefix)/opt/docker-compose/bin/docker-compose ~/.docker/cli-plugins/docker-compose
{{ end -}}

# post-install for pipx
pipx install --force {{ .packages.common.pipx | join " " }}
