#!/bin/bash

# Install Oh My ZSH
if [ -z "$ZSH" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" || true
    export ZSH="$HOME/.oh-my-zsh"
fi

# Install Oh My ZSH plugins
export ZSH_CUSTOM="$ZSH/custom"
mkdir -p $ZSH_CUSTOM/plugins 
cd $ZSH/custom/plugins

{{ range .zsh.sources -}}
git clone {{ . }} || true
{{ end -}}
